<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let dept of departments">
        <h3>{{ dept.name }}</h3>
        <p>{{ dept.head }}</p>
      </li>
    </ul>
  </div>

  <div class="col-xs-6">
    <form [formGroup]="deptForm" (ngSubmit)="onDeptSubmit()">
        <hr>
        <label for="name">Your Name</label>
        <input type="text" class="form-control" formControlName="name" >
        <br>
        <label for="head">Head Name</label>
        <input type="text" class="form-control" formControlName="head">
        <hr>
        <button class="btn btn-success" type="submit"> Create Department </button>
    </form>
  </div>
</div>
