<div class="row">
  <div class="col-xs-6" >
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Uuid</th>
          <th scope="col">Name</th>
          <th scope="col">Head</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dept of departments; index as i;" (click)="onDepartmentSelect(dept)" 
            [routerLink]="[dept.uuid]" class="pointer" routerLinkActive="active" >
          <th scope="row">{{i+1}}</th>
          <td>{{ dept.uuid }}</td>
          <td>{{ dept.name }}</td>
          <td> {{ dept.head }}</td>
        </tr>
      </tbody>
    </table>

    <ul class="list-group" *ngIf="false">
      <li class="list-group-item" *ngFor="let dept of departments" >
        <a (click)="onDepartmentSelect(dept)" class="pointer">
          <h3>{{ dept.name }}</h3>
          <p>{{ dept.head }}</p>
        </a>
      </li>
    </ul>

    <div class="alert alert-danger" *ngIf="false">
      <h2> An Error Occurred!</h2>
      <p> Department not found!</p>
      <button class="btn btn-danger">Okay</button>
    </div>
  </div>

  <div class="col-xs-6">
    <router-outlet></router-outlet>
  </div>
</div>
