<div *ngIf="deptForm != null">
  <form [formGroup]="deptForm" (ngSubmit)="onDeptSubmit()" >
    <div>
      <button class="btn btn-success" type="button" *ngIf="!isEdit" (click)="onNewInit()"> 
         New
      </button>

      <button class="btn btn-success" type="submit"  *ngIf="selectedDepartment.uuid == '' || isEdit"> 
        {{ (isEdit && isNew) ? 'Create' : 'Update'}}
      </button>

      <button class="btn btn-primary" type="button" (click)="onEdit()" 
        *ngIf="selectedDepartment.uuid != '' && !isEdit"> Edit </button>
      <button class="btn btn-warning" type="button" *ngIf="selectedDepartment.uuid != '' && isEdit" (click)="onEditCancel()" > Cancel </button>
      
      <button class="btn btn-danger" type="button" (click)="onDelete()" 
        *ngIf="selectedDepartment.uuid != ''"> Delete </button>
    </div>
    <hr>
    <label for="name">Department Name</label>
    <input type="text" class="form-control" formControlName="name" [readonly]="!isEdit">
    <br>
    <label for="head">Head Name</label>
    <input type="text" class="form-control" formControlName="head" [readonly]="!isEdit">
  </form>
</div>