/* You can add global styles to this file, and also import other style files */
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-right: 10px;
}

.pad-10 {
    padding: 10px;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.pointer:hover{
    cursor: pointer;
}

label{
    font-weight: bold;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: cornflowerblue;
  }

  .my-container {
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto; */
    /* margin-left: auto; */
}