<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../../scripts/06dataBinding.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="emp">
      <strong>One way data binding</strong>
      <br>
      <strong> X is {{x}} </strong>
      <br>
      <strong>Y is <span ng-bind="y"></span></strong>
      <br>
      Sum is {{sum}} <br>
      <button ng-click="getDoubleSum();">Caluculate</button>
      <br>

      <hr>

      <strong>Two way data binding</strong>
      <input ng-model="x"></input>

      <hr>

      <strong>One time data binding</strong>
      <br>
      Initial value is<strong> X is {{::x}} </strong>
    </div>
  </body>
</html>
