<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS: ng-if, ng-repeat, ng-show, ng-hide and Bootstrap CSS framework integration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="../../scripts/11OtherDirectives&Bootstrap.js"></script>
  </head>
  <body ng-app="myApp">
    <br>
    <div ng-controller="emp">
      <form class="form-inline">
        <div class="form-group">
           <strong>Enter Emp No: </strong>
           <input ng-model="searchEmpId" class="form-control"/>
        </div>
        <button ng-click="doSearch();" class="btn-primary"> Search </button>
      </form>

        <div class="row">
          <div class="col-lg-2"> Emp id </div>
          <div class="col-lg-2"> {{empId}} </div>
        </div>
        <div class="row">
          <div class="col-lg-2"> Name </div>
          <div class="col-lg-2"> {{name}} </div>
        </div>
        <div class="row">
          <div class="col-lg-2"> Age </div>
          <div class="col-lg-2"> {{age}} </div>
        </div>
        <div class="row">
          <div class="col-lg-2"> Salary </div>
          <div class="col-lg-2"> {{sal}}
            <span ng-if="sal > 30000" class="glyphicon glyphicon-star"></span>
            <span ng-show="sal > 30000" class="glyphicon glyphicon-star"></span>
            <span ng-hide="sal < 35000" class="glyphicon glyphicon-asterisk"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2"> City </div>
          <div class="col-lg-2"> {{city}} </div>
        </div>
    </div>
  </body>
</html>
